{% extends "template_base.html" %} 
{% load static %}

{% block title %}   

<title>Producto</title>

{% endblock title %}

{% block carrito %}
active
{% endblock carrito %}

{% block contenido %}

<section class="page-section bg-light" id="portfolio">
    <br />
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Carrito de Compra</h2>
            <h3 class="section-subheading text-muted">Todos los Productos agregados</h3>
        </div>

        <br/>
        
        <div class="row">

            {% if Carritos %}

            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Dolares</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Fecha</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for Carrito in Carritos %}
                  <tr>                    
                    <td>{{Carrito.nombre}}</td>
                    <td>{{Carrito.categoria}}</td>
                    <td>{{Carrito.precio}}</td>
                    <td>{{Carrito.precio_dolares}}</td>
                    <td>{{Carrito.cantidad}}</td>
                    <td>{{Carrito.fecha_compra}}</td>
                    <td><a href={% url "modificar_carrito" Carrito.id %}>Editar</a></td>
                    <td><a href={% url "eliminar_carrito" Carrito.id %}>Eliminar</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

            {% else %}

            <p class="text-center">No hay Productos Cargados.</p>

            {% endif %}
            
        </div>
    </div>
</section>

{% endblock contenido %}
