{% extends "template_base.html" %} 
{% load static %}

{% block title %}   

<title>Producto</title>

{% endblock title %}

{% block carrito %}
active
{% endblock carrito %}

{% block contenido %}

<section class="page-section bg-light" id="portfolio">
    <br />
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Modificar Iten del Carrito</h2>
            <h3 class="section-subheading text-muted">Esta modificando la cantidad del Item: {{carrito.nombre}}</h3>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
        
            <br />
        
            <div class="d-grid gap-2">
              <input class="btn btn-secondary" type="submit" value="Modificar" />
            </div>
        </form>
        
        <br/>
    </div>
</section>

{% endblock contenido %}
