{% extends "template_base.html" %} 

{% block title %}

<title>Producto</title>

{% endblock title %} 

{% block create %}
active
{% endblock create %}

{% block contenido %}

<section class="page-section" id="services">
  <br />

  <div class="container-xl">

    <div class="text-center">
      <h2 class="section-heading text-uppercase">Modificar Productos</h2>
      <h3 class="section-subheading text-muted">
        Modifica el Productos para la venta
      </h3>
    </div>

    <form action={% url 'modificar_producto' producto.id %} method="POST" enctype='multipart/form-data'>
      {% csrf_token %} {{formulario}}

      <br />

      <div class="d-grid gap-2">
        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Modificar" />
      </div>
    </form>
  </div>
</section>

{% endblock contenido %}