{% extends "template_base.html" %} 

{% block title %}   

<title>Producto</title>

{% endblock title %}

{% block list %}
active
{% endblock list %}

{% block contenido %}

<div class="container-xl">
  <br />
  <br />
  <br />
  <br />
  <h1 class="text-center">Listado de Productos</h1>

  <form action="">
    {{formulario}}

    <br />

    <div class="d-grid gap-2">
      <input class="btn btn-secondary" type="submit" value="Buscar" />
    </div>
  </form>

  <br />
  
  {% if Productos %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <!-- <th scope="col">Descripcion</th> -->
        <th scope="col">Categoria</th>
        <th scope="col">Precio</th>
        <th scope="col">Dolares</th>
        <th scope="col"></th>
        {% if request.user.is_superuser == True %}
        <th scope="col"></th>
        <th scope="col"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for Producto in Productos %}
      <tr>
        <th scope="row">{{Producto.id}}</th>
        <td>{{Producto.nombre}}</td>
        <!-- <td>{{Producto.descripcion}}</td> -->
        <td>{{Producto.categoria}}</td>
        <td>{{Producto.precio}}</td>
        <td>{{Producto.precio_dolares}}</td>
        <td><a href={% url "detalle_producto" Producto.id %}>Detalle</a></td>
        {% if request.user.is_superuser == True %}
        <td><a href={% url "modificar_producto" Producto.id %}>Editar</a></td>
        <td><a href={% url "eliminar_producto" Producto.id %}>Eliminar</a></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>

  {% else %}

  <p class="text-center">No hay Productos Cargados.</p>

  {% endif %}
</div>

{% endblock contenido %}
