{% extends "template_base.html" %} 

{% block title %}

<title>Producto</title>

{% endblock title %} 

{% block contenido %}

<section class="page-section" id="services">
  <br />

  <div class="container-xl">

    <div class="text-center">
      <h2 class="section-heading text-uppercase">Cambiar Contraseña</h2>
      <h3 class="section-subheading text-muted">
        Cambie su Contraseña
      </h3>
    </div>

    <form action={% url "editar_usuario" %} method="POST">
      {% csrf_token %} 
      
      {{form}}

      <br />

      <div class="d-grid gap-2">
        <input class="btn btn-primary btn-xl text-uppercase" type="submit" value="Guardar Contraseña" />
      </div>
    </form>

  </div>
</section>

{% endblock contenido %}